* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
/* HEADER */
#header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: #1f1f40;
    height: 75px;
    width: 100%;
    padding: 8px 16px;
}
#header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container {
    width: 800px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    /* display: block; */
}
#nav-brand {
    display: inline-block;
}
#nav-brand img {
    height: 25px;
}
#nav {
    float: right;
    display: flex;
    flex-direction: row;
    position: relative;
}
#nav li {
    list-style: none;
    position: relative;
    display: flex;
    align-items: center;
}
.dropdown-icon {
    font-size: 8px;
    color: white;
    margin-left:-10px;
}
#nav>li:hover>a,
#nav li:hover i{
    color: #f57479;
}
.dropdown:hover .subnav {
    visibility: visible;
}
#nav li a {
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 100%;
}
#nav>li>a {
    line-height: 40px;
    padding: 1px 20px;
    color: white;
}
.subnav {
    position: absolute;
    display: block;
    top:90%;
    left:0;
    background: white;
    width: 250px;
    font-size: 0.8rem;
    padding: 10px;
    visibility: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.subnav li {
    line-height: 30px;
    padding: 5px;
}
.subnav li a {
    color:#212529;
}
.subnav li:hover {
    background: #212529;
}
.subnav li:hover a {
    color: white;
}

/* BANNER */
#banner {
    display: block; 
    position: relative;
    background: url(../image/banner.jpg) center center no-repeat;
    overflow: hidden;
    background-size: cover;
}
.banner-content {
    padding-top: 200px;
    padding-bottom: 200px;
    color:white;
    display: block;
    
}
.banner-content a{
    text-decoration: none;
}
.banner-content h1{
    font-size: 60px;
}
.banner-content p {
    font-size: 0.8rem;
    opacity: 0.8;
    margin: 24px 0 48px 0;
}
.contact-btn {
    font-size: 0.8rem;
    padding: 12px 35px;
    color:white;
    background: #212529;
    border-radius: 5px;
}
.contact-btn:hover {
    background: #f57479;
}
.banner-image {
    position: absolute;
    bottom: -5px;
    display: block;
    content:"";
    right: 10%;
}
.banner-image img {
    max-width: 80%;
    height: auto;
}
/* SERVICE */
#service {
    padding: 60px 0 50px ;
    background: #1f1f40;
    position: relative;
}
.service-list {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.service-item {
    display: block;
    width: calc(100% /3);
    color: white;
    padding: 0 30px;
    float: left;
}
.service-item i{
    color: #f57479;
    font-size: 45px;
}
.service-item h4 {
    margin: 24px 0;
}
.service-item p {
    font-size: 0.8rem;
    opacity: 0.8;
}
/* ABOUT */
#about {
    padding: 120px 0;
    position: relative;
}

#about:before {
    position: absolute;
    content: "";
    background: url(../image/pattern-bg.png) no-repeat;
    width: 90%;
    height: 100%;
    /* top: ; */
    left: 97%;
    top: 23px;
}
.about-image{
    position: relative;
    display: inline-block;
    width: 41%;
    height: auto;
}
.about-image img {
    width: 100%;
}
.about-image:before{
    position: absolute;
    content: "";
    background: url(../image/pattern-bg.png) no-repeat;
    background-size: contain;
    width: 50%;
    height: 60%;
    left: -56px;
    top: 56px;
    z-index: -1;
}
.about-content {
    margin-left: 8%;
    width: 50%;
    height: 100%;
    display: inline-block;
    top:-80px;
    position: relative;
}
.about-content span {
    color: #f57479;
}
.about-content h3 {
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.about-content p {
    margin-bottom: 24px;
    font-size: 0.8rem;
    opacity: 0.8;
}
.purchase-btn {
    font-size: 0.8rem;
    text-decoration: none;
    border-radius: 5px;
    padding: 12px 35px;
    background:#f57479;
    color: white;
}
.purchase-btn:hover {
    background:#1f1f40;
}
/* PROJECTS */
#projects {
    padding-bottom: 60px;
}
#projects .container {
    text-align: center;
}
.projects-content span {
    color: #f57479;
}
.projects-content h3 {
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 24px;
}

.projects-image {
    display: grid;
    gap: 20px;
    grid-template:auto/auto auto auto
}
.projects-image img{
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    
}
/* STATUS */
#status {
    background: #1f1f40;
}
#status .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 55px;
}
.status-item i {
    color: #f57479;
    font-size: 40px;
    line-height: 50px;
    top:-10px;
    margin-right: 10px;
    position: relative!important;
}
.status-content h2 {
    font-size: 35px;
}
.status-content p {
    font-size: 0.8rem;
    opacity: 0.8;
}
.status-content {
    display: inline-block;
    color: white;
}
/* SKILL */
#skill {
    padding: 80px 0;
}
#skill .container {
    display: flex;
    justify-content: space-between;
}
.skill-show {
    width: 45%;
}
.skill-content span {
    color: #f57479;
}
.skill-content h3 {
    font-size: 30px;
    margin-top: 16px;
    margin-bottom: 24px;
}
.skill-list .skill-name {
    font-size: 12px;
}
.skill-list .skill-number {
    font-size: 8px;
    color: white;
    background:#f57479;
    width: 30px;
    height: 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    clip-path:polygon(0 0, 100% 0,100% 80%,60% 80%, 50% 100%, 40% 80%, 0 80%, 0 0);
    top:-65px;
}
.skill-image img {
    width: 250px;
}
.skill-image .img-abs {
    position: absolute;
    transform: translate(-150%,50%);
}
.skill-name {
    margin-bottom: 10px;
}
.skill-bar {
    width: 100%;
    height: 8px;
    background:#e9ecef;
    margin-bottom: 30px;
    position: relative;
}
.skill-bar:after {
    content:"";
    position: relative;
    display: block;
    height: 8px;
    background: repeating-linear-gradient(45deg,#8a3de1,#8a3de1 3px, #a563ee 3px,#a563ee 6px)
}
.skill-item:nth-child(1) .skill-bar:after {
    width: 85%;
}
.skill-item:nth-child(2) .skill-bar:after {
    width: 90%;
}
.skill-item:nth-child(3) .skill-bar:after {
    width: 75%;
}
.skill-item:nth-child(4) .skill-bar:after {
    width: 90%;
}
.skill-item:nth-child(1) .skill-number {
    left: 80%;
}
.skill-item:nth-child(2) .skill-number {
    left: 85%;
}
.skill-item:nth-child(3) .skill-number {
    left: 70%;
}
.skill-item:nth-child(4) .skill-number {
    left: 85%;
}